@model RoleViewModel
@{
    ViewData["Title"] = "Create Role";
}

<div class="container-fluid">
    <a asp-action="Index" asp-controller="Role" asp-area="Admin" class="btn btn-primary text-end">Back To List</a>

    <div class="card">
        <div class="card-header bg-primary">
            <h6 class="m-0 font-weight-bold text-white">@ViewData["Title"] </h6>
        </div>
        <div class="card-body">
            <form method="post" asp-action="CreateRole" asp-controller="Role">
                <div class="row mb-2">
                    <div class="col-12">
                        <label>Role Name</label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <button type="submit" class="btn btn-info w-100">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}