@model IQueryable<RoleViewModel>

@{
    ViewData["Title"] = "Manage User Roles";
}

<div class="container-fluid">
    <a asp-action="Create" asp-controller="Role" asp-area="Admin" class="btn btn-primary">Add New</a>
    <div class="card">
        <div class="card-header bg-primary">

            <h6 class="m-0 font-weight-bold text-white">List of Roles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>SN</td>
                            <td>Role ID</td>
                            <td>Role Name</td>                         
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            int counter = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.RoleId</td>
                                    <td>@item.RoleName</td>                                   
                                    <td>
                                        <a class="btn btn-danger btn-sm" asp-action="ForgetPassword" asp-controller="User" asp-area="Admin" asp-route-roleId="@item.RoleId">Delete</a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
