@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <a asp-action="Index" asp-controller="User" asp-area="Admin" class="btn btn-primary">Back To List</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h6 class="m-0 font-weight-bold text-white">@ViewData["Title"] </h6>
        </div>
        <div class="card-body">
            <form method="post" asp-action="ForgetPassword"  asp-controller="User">
                <div class="mb-2">
                    <input asp-for="ApplicationUserId" type="hidden" />
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm-Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-info">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

